@charset "utf8";
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.n_item {
  display: none;
}
.hd {
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.417);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
}
.hd label {
  font-size: 30px;
  display: block;
  position: absolute;
  top: 0px;
  width: 58px;
  height: 58px;
  line-height: 58px;

  text-align: center;
}
.lst_call {
  left: 0;
}
.top_call {
  right: 0;
}
.logo {
  display: block;
  text-align: center;
  line-height: 60px;
  padding-top: 10px;
}
.fas.fa-gem,
.far.fa-gem {
  margin-top: 14px;
  color: #5da2af;
}
#gnb {
  position: fixed;
  left: -110%;
  top: 60px;
  min-height: 100%;
  background-color: #42839142;
  z-index: 100;
  width: 100%;
  transition: 0.6s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
}
#top {
  position: fixed;
  right: -110%;
  top: 60px;
  min-height: 100%;
  background-color: #6bb9c942;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  -o-backdrop-filter: blur(8px);
  z-index: 100;
  width: 100%;
  transition: 0.6s;
}
.lst1 li img {
  width: 300px;
  height: 300px;
}
.menu li {
  line-height: 60px;
  border-top: 1px solid #6bb9c9;
  border-bottom: 1px solid #6bb9c9;
}
.menu li a {
  display: block;
  line-height: 60px;
  text-indent: 2rem;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
.hd i {
  margin-top: 12px;
}
#ck1:checked ~ #gnb {
  left: 0;
}
#ck1:not(:checked) ~ .hd .lst_call .xi-bars {
  display: block;
}
#ck1:not(:checked) ~ .hd .lst_call .xi-close {
  display: none;
}
#ck1:checked ~ .hd .lst_call .xi-bars {
  display: none;
}
#ck1:checked ~ .hd .lst_call .xi-close {
  display: block;
}
#ck2:checked ~ #top {
  right: 0;
}
#ck2:not(:checked) ~ .hd .top_call .fas.fa-gem {
  display: block;
}
#ck2:not(:checked) ~ .hd .top_call .far.fa-gem {
  display: none;
}
#ck2:checked ~ .hd .top_call .fas.fa-gem {
  display: none;
}
#ck2:checked ~ .hd .top_call .far.fa-gem {
  display: block;
}

.ft {
  clear: both;
  width: 100%;
  height: 80px;
  padding: 2rem 0px;
  margin-top: 20px;
  background-color: #6bbac9;
}
.copyright {
  color: #fff;
  padding: 0px 2rem;
  font-size: 14px;
}
.blank {
  clear: both;
  width: 100%;
  height: 50px;
  margin-top: 60px;
}
