@charset "utf-8";

.vs {
  width: 100%;
  height: auto;
}
.vs img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin: 0px auto;
  margin-bottom: 30px;
}
.page {
  width: 100%;
}
.page_tit {
  padding-left: 5%;
  line-height: 1.3;

  font-family: "Times italic", "Arapey", "Nanum Barun Gothic",
    "Noto Sans Korean", sans-serif;
}
.page_tit::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #6bbac9;
  margin-bottom: 30px;
}
.lst1 {
  clear: both;
}
.lst1 li {
  clear: both;
  box-shadow: 0px 0px 6px rgb(214, 214, 214);
}
.lst1 li a {
  display: block;
  color: #333;
}
.lst1 li img {
  display: block;
  padding-top: 5%;
  margin: 20px auto;
}
.cate_tit {
  text-align: center;
  line-height: 3;
  font-family: "Times italic", "Arapey", "Nanum Barun Gothic",
    "Noto Sans Korean", sans-serif;
}
.cate_com {
  padding: 1.5rem;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Times italic", "Arapey", "Nanum Barun Gothic",
    "Noto Sans Korean", sans-serif;
}
.col3 .cate_tit {
  text-align: center;
  line-height: 1.5;
}

.col3 .cate_com {
  font-size: 14px;
  padding: 4px;
  text-align: left;
}
.lst2 {
  clear: both;
}
.lst2 li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  min-height: 300px;
}
.lst2 li:nth-child(2n + 1) {
  clear: both;
}
.lst2 li a {
  display: block;
  color: #333;
  text-align: center;
}

.lst3 {
  clear: both;
}
.lst3 li {
  clear: both;
  height: 100px;
  background-color: #a8c3c923;
  border-bottom: 2px solid #eee;
  overflow: hidden;
}
.lst3 li a {
  display: block;
  color: #333;
}
.lst3 li a .thumb {
  display: block;
  float: left;
  margin: 6px;
}
.lst3 li a .tit_box {
  float: right;
  width: calc(100% - 100px);
}
.lst2 li img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.lst3 li img {
  width: 85px;
  height: 85px;
}
