@charset "utf-8";

.bread {
  clear: both;
  padding-left: 5rem;
  line-height: 55px;
  background: #6bbac9;
  color: #fff;
}
.bread a,
.bread span {
  color: #fff;
}
.vs {
  width: 100%;
  height: auto;
}
.vs img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin: 0 auto;
}
.page {
  width: 100%;
  border-top: 5px solid #eee;
  display: none;
}
.page.on {
  display: block;
}
.page_tit {
  padding-left: 5%;
  line-height: 3;
}
.lst1 {
  clear: both;
}
.lst1 li {
  clear: both;
  width: 97%;
  margin: 30px auto;
  min-height: 300px;
}
.lst1 li a {
  display: block;
  color: #333;
}
.lst1 li img {
  display: block;
  padding-top: 5%;
  width: 98%;
  height: 25%;
  margin: 20px auto;
}
.cate_tit {
  text-align: center;
  line-height: 2;
}
.cate_tit:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  background-color: #6bbac9;
}
.cate_com {
  padding: 1.5rem;
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;
}

.tb_box {
  clear: both;
  margin-top: 20px;
  padding-top: 30px;
}
.tb_box .tab {
  float: left;
  width: 33.333333%;
  line-height: 32px;
  text-align: center;
  color: #333;
  background: #eeeeee;
  cursor: pointer;
}
.tb_box .tab:hover {
  background-color: #cacaca;
}
.tb_box .tab.on {
  background-color: #6bbac9;
  color: #fff;
}
a.mom {
  margin: 0 auto;
  text-align: center;
  width: 150px;
  padding: 8px;
  color: #fff;
  background-color: #6bbac9;
  border: 1px solid #6bbac9;
}
a.mom:hover {
  color: #6bbac9;
  background: #fff;
}
