@charset "utf-8";

.bread {
  clear: both;
  padding-left: 5rem;
  line-height: 55px;
  background: #6bbac9;
  color: #fff;
}
.bread a,
.bread span {
  color: #fff;
}
.vs {
  width: 100%;
  height: auto;
}
.vs img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 5%;
  margin: 0 auto;
}
.page {
  width: 100%;
  display: none;
}
.page.on {
  display: block;
}
.page_tit {
  padding-left: 5%;
  line-height: 3;
}
.lst1 {
  clear: both;
}
.lst1 li {
  clear: both;
  width: 95%;
  margin: 30px auto;
  box-shadow: 0px 0px 10px #333;
  min-height: 500px;
}
.lst1 li a {
  display: block;
  color: #333;
}
.lst1 li img {
  display: block;
  padding-top: 5%;
  margin: 20px auto;
}
.cate_tit {
  text-align: center;
  line-height: 1;
  font-family: "Times italic", "Arapey", "Nanum Barun Gothic",
    "Noto Sans Korean", sans-serif;
}
.cate_com {
  padding: 1rem;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Times italic", "Arapey", "Nanum Barun Gothic",
    "Noto Sans Korean", sans-serif;
}

.tb_box {
  clear: both;
  padding-top: 20px;
}
.tb_box .tab {
  float: left;
  width: 33.333333%;
  line-height: 32px;
  text-align: center;
  color: #333;
  background: #eeeeee;
  cursor: pointer;
}
.tb_box .tab:hover {
  background-color: #cacaca;
}
.tb_box .tab.on {
  background-color: #6bbac9;
  color: #fff;
}
.lst2 {
  clear: both;
}
.lst2 li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  min-height: 300px;
}
.lst2 li:nth-child(2n + 1) {
  clear: both;
}
.lst2 li a {
  display: block;
  color: #333;
  text-align: center;
}
.lst2 li img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
