@charset "utf-8";

.bread {
  clear: both;
  padding-left: 5rem;
  line-height: 55px;
  background: #6bbac9;
  color: #fff;
}
.bread a,
.bread span {
  color: #fff;
}
.vs {
  width: 100%;
  height: auto;
}
.vs img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin: 0 auto;
}
.page {
  width: 100%;
  border-top: 5px solid #eee;
  display: none;
}
.page.on {
  display: block;
}
.page_tit {
  padding-left: 5%;
  line-height: 3;
}
.lst1 {
  clear: both;
}
.lst1 li {
  clear: both;
  width: 95%;
  margin: 30px auto;
  box-shadow: 0px 0px 10px #333;
  min-height: 500px;
}
.lst1 li a {
  display: block;
  color: #333;
}
.lst1 li img {
  display: block;
  padding-top: 5%;
  margin: 20px auto;
}
.cate_tit {
  text-align: center;
  line-height: 3;
}
.cate_com {
  padding: 1.5rem;
  text-align: center;
  padding-bottom: 40px;
}

.tb_box {
  clear: both;
  margin-top: 20px;
  padding-top: 30px;
}
.tb_box .tab {
  float: left;
  width: 33.333333%;
  line-height: 32px;
  text-align: center;
  color: #333;
  background: #eeeeee;
  cursor: pointer;
}
.tb_box .tab:hover {
  background-color: #cacaca;
}
.tb_box .tab.on {
  background-color: #6bbac9;
  color: #fff;
}
.store_tit {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.storestep01 {
  width: 100%;
}
.sel_white select {
  margin: 20px 13px;
  width: 350px;
  border: 1px solid #8b9ea1;
  background-color: #dbf2f6c4;
  height: 30px;
}
.btn_bouche {
  margin: 10px 13px;
  width: 350px;
  height: 30px;
  display: block;
  border: 1px solid #beedf6;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #6bbac9;
}
.btn_bouche:active {
  background-color: #6bbac9;
  color: #fff;
}
.searchImg {
  width: 200px;
  height: 30px;
  margin-left: 75px;
  border: 1px solid #dfdfdf;
  background-color: #ebebeb;
}
.searchImg:active {
  box-shadow: 0px 3px 5px 5px #cacaca;
}
.btn1 {
  width: 80px;
  height: 30px;
  background-color: #6bbac9;
  color: #fff;
  font-size: 15px;
  padding: 5px 8px;
}
.list_con {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-top: 40px;
  padding: 12px;
}
.sView8 li {
  font-size: 14px;
  line-height: 30px;
}
.s_area {
  font-weight: bold;
  font-size: 16px;
  color: #5e7e85;
}
.s_address {
  font-weight: 700;
}
